{% extends 'base.html.twig' %}

{% block title %}Index {% endblock %}
{% block stylesheets %}

{{ parent() }}


{% endblock %}

{% block body %}

<div id='root'>
</div>
{% block javascript %}

    {{ parent() }}

    {{ encore_entry_script_tags('reactApp') }}

{% endblock %}

{% endblock %}
